@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s ease;
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/* info navbar */

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
}
svg:hover{
    fill: black;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: all 0.5s ease;
}
nav ul li a{
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    transition: all 0.5s ease;
}
nav h3:hover{
    color: black;
}

nav ul li a h3{
    display: flex;
    width: 100%;
    flex-direction: row;
    font-weight: lighter;
    transition: all 0.5s ease;
}


/* login navbar */
.campos{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.campos .login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
    transition: all 0.5s ease;
}
.campos .login h3{
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.campos .login a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
    transition: all 0.5s ease;
}

/* logo */
.logo a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    display: flex;
}
.logo p{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    
}
.logo p:hover{
    color: black;
}
.logo h3{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
}
.logo h3:hover{
    color: black;
}   
.logo h1{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    margin-right: 10px;
}
h1:hover{
    color: black;
}

/* navbar^^ */

/* main */
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
main{
    background-color:  lightgray;
    height: 90vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #7e00d6;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px black;
    transition: all 0.5s ease;
}