*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s ease;
    
}
/* navbar */
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    padding-left: 20px;
}

/* logo */
.logo a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    display: flex;
}
.logo p{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    
}
.logo p:hover{
    color: black;
}
.logo h3{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
}
.logo h3:hover{
    color: black;
}   
.logo h1{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    margin-right: 10px;
}
h1:hover{
    color: black;
}

/* main */
body{
    width: 100%;
    height: 100%;
    background-color: #6f00b5;
    position: fixed;

}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.container{
    background-color: #8a2be2;
    width: 70vh;
    height: 70vh;
    border-radius: 7vh;
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    position: relative;
}
.container::before {
    border-radius: 7vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;  
    filter: blur(10px);
    z-index: -1;
}
.container .title{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container .title h1:hover{
    color: rgb(168, 168, 168);
}

.container .campos{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container .campos input{
    height: 8vh;
    width: 40vh;
    margin-bottom: 5vh;
    border-radius: 3vh;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    color: rgb(168, 168, 168);
}
.container .campos input:focus{
   background-color: rgb(168, 168, 168);
   border: none;
   color: white;

}
.container .campos input:hover{
    background-color: rgb(168, 168, 168);
    border: none;
    color: white;
 }

.container .campos label{
    color: whitesmoke;
    font-size: 3vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}


.container .campos .senha{
    margin-bottom: 7vh;
}
.container button{
    height: 7vh;
    width: 21vh;
    margin-bottom: 10vh;
    border-radius: 7vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 3vh;
}
.container button:focus{
    background-color: rgb(168, 168, 168);
    color: white;
}
.container button:hover{
    background-color: rgb(168, 168, 168);
    color: white;
}



