@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a2be2;
  box-shadow: 0 0 10px black;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* info navbar */

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}
svg:hover {
  fill: black;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.5s ease;
}
nav ul li a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  transition: all 0.5s ease;
}
nav h3:hover {
  color: black;
}

nav ul li a h3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-weight: lighter;
  transition: all 0.5s ease;
}

/* login navbar */
.campos {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.campos .login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.5s ease;
}
.campos .login h3 {
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.campos .login a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.5s ease;
}

/* logo */
.logo a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  transition: all 0.5s ease;
  display: flex;
}
.logo p {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  transition: all 0.5s ease;
}
.logo p:hover {
  color: black;
}
.logo h3 {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  transition: all 0.5s ease;
}
.logo h3:hover {
  color: black;
}
.logo h1 {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  transition: all 0.5s ease;
  margin-right: 10px;
}
h1:hover {
  color: black;
}

/* navbar^^ */

/* menu */
menu {
  width: 100%;
  height: 7vh;
  background-color: #7e00d6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  box-shadow: rgb(0, 0, 0);
}
menu .infos {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
menu .infos .categorias {
  max-width: 200px;
  min-width: 100px;
  border-radius: 1vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu .infos option {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: gray;
}

/* main */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
#produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  transition: all 0.5s ease;
}
.produto {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.produto:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.produto img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  transition: all 0.5s ease;
}
.produto img:hover {
  transform: scale(1.03);
}
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  width: 100%;
  color: rgb(168, 168, 168);
}
a:hover {
  color: rgb(62, 62, 62);
  transform:scale(1.015)
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  width: 100%;
}
.price {
  color: gray;
}
.btn-price {
  height: 6vh;
  width: 15vh;
  background-color: wheat;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price:hover {
  color: rgb(53, 53, 53);
}
.btn-price:hover {
  background-color: rgb(255, 211, 128);
}
