@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/* info navbar */
nav ul{
    display: flex;
    gap: 30px;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
ul img{
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;

}
nav ul li a{
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
}

nav ul li a h3{
    display: flex;
    width: 100%;
    flex-direction: row;
    font-weight: lighter;
}

/* login navbar */
.campos{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.campos .login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
}
.campos .login h3{
    font-size: 15px;
    font-weight: 500;
}

/* logo */
.logo a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    
}