.title{
    font-size: 7vh;
    color: gray;
    font-weight: 1000;
}
body{
    height: 100%;
    width: 100%;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa{
    background-color: whitesmoke;
    border-radius: 10%;
    height: 80vh;
    width: 80vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;

    
}
.campos{
    display: flex;
     flex-direction: column;
     align-items: center;
 }
input{
    height: 6vh;
    width: 60vh;
    border-radius: 2.5vh;
    margin-bottom: 2vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.3vh;
    color:rgb(93, 93, 93) ;

}
.noCampos{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.saidaDados{
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    color: gray;
    font-weight: 1000;
    margin-top: 2vh;
    margin-bottom: 15vh;
}

.botao{
    height: 7vh;
    width: 16vh;    
    border-radius: 3vh;
    color: gray;
    font-size: 2vh;
    font-weight: 700;
    border: none;
    background-color: gainsboro;
    
}

.botao:hover{
    background-color: rgba(128, 128, 128, 0.588);
    font-size: 2.1vh;
}

input:hover{
    background-color: rgb(232, 230, 230);
}


@media screen and (max-width: 600px) {

    input {
        max-width: 50vh;

    }
  }
  @media screen and (max-width: 500px) {

    input {
        max-width: 40vh;
    }
  }

  @media screen and (max-width: 400px) {

    input {
        max-width: 50vh;

    }
  }