body{
    display: flex;
    background-image: url(../../../intro-form/src/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%,74% );
    align-items: center;
    justify-content: center;
    position: absolute;
}
.container-main{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
}